

.container{
  background-color: #24232b;
}


.btn-cls {
  background-color: #2a8b8b;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  padding: 2px;
}

.gen-btn-cls {
  background-color: #2a8b8b;
  color: white;
  width: 100%;
  padding: 10px;
  margin: 10px;
  font-size: large;
}